<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <!-- START API SERVLET-->
    <servlet>
        <servlet-name>ArticleAPI</servlet-name>
        <servlet-class>com.quanganh9x.lettuce.api.ArticleAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ArticleAPI</servlet-name>
        <url-pattern>/api/v1/article</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckDuplicateArticleAPI</servlet-name>
        <servlet-class>com.quanganh9x.lettuce.api.CheckDuplicateArticleAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckDuplicateArticleAPI</servlet-name>
        <url-pattern>/api/v1/article/check-duplicate</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CrawlerSourceAPI</servlet-name>
        <servlet-class>com.quanganh9x.lettuce.api.SourceAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrawlerSourceAPI</servlet-name>
        <url-pattern>/api/v1/crawlersource</url-pattern>
    </servlet-mapping>
    <!-- END API SERVLET-->

    <!-- START ADMIN SERVLET-->

    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>com.quanganh9x.lettuce.servlet.admin.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/admin/home</url-pattern>
        <url-pattern>/admin/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddCategoryServlet</servlet-name>
        <servlet-class>com.quanganh9x.lettuce.servlet.admin.AddCategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCategoryServlet</servlet-name>
        <url-pattern>/admin/category/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddArticleServlet</servlet-name>
        <servlet-class>com.quanganh9x.lettuce.servlet.admin.AddArticleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddArticleServlet</servlet-name>
        <url-pattern>/admin/article/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ListArticelServlet</servlet-name>
        <servlet-class>com.quanganh9x.lettuce.servlet.admin.ListArticleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListArticelServlet</servlet-name>
        <url-pattern>/admin/article/list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddCrawlerSourceServlet</servlet-name>
        <servlet-class>com.quanganh9x.lettuce.servlet.admin.AddCrawlerSourceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCrawlerSourceServlet</servlet-name>
        <url-pattern>/admin/crawler-source/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PreviewSpecialContentController</servlet-name>
        <servlet-class>com.quanganh9x.lettuce.servlet.admin.PreviewSpecialContentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PreviewSpecialContentController</servlet-name>
        <url-pattern>/admin/article/special-content</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SaveSpecialContentServlet</servlet-name>
        <servlet-class>com.quanganh9x.lettuce.servlet.admin.SaveSpecialContentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveSpecialContentServlet</servlet-name>
        <url-pattern>/admin/article/save-special-content</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditArticleServlet</servlet-name>
        <servlet-class>com.quanganh9x.lettuce.servlet.admin.EditArticleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditArticleServlet</servlet-name>
        <url-pattern>/admin/article/edit-article</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteArticleServlet</servlet-name>
        <servlet-class>com.quanganh9x.lettuce.servlet.admin.DeleteArticleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteArticleServlet</servlet-name>
        <url-pattern>/admin/article/delete-article</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditCategoryServlet</servlet-name>
        <servlet-class>com.quanganh9x.lettuce.servlet.admin.EditCategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditCategoryServlet</servlet-name>
        <url-pattern>/admin/category/edit-category</url-pattern>
    </servlet-mapping>
    <!-- END ADMIN SERVLET-->

    <!-- START CLIENT SERVLET-->
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.quanganh9x.lettuce.servlet.client.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>com.quanganh9x.lettuce.servlet.client.CategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BoxCategoryWidget</servlet-name>
        <servlet-class>com.quanganh9x.lettuce.servlet.client.widget.BoxCategoryWidget</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BoxCategoryWidget</servlet-name>
        <url-pattern>/widget/boxCategory</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ArticleServlet</servlet-name>
        <servlet-class>com.quanganh9x.lettuce.servlet.client.ArticleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ArticleServlet</servlet-name>
        <url-pattern>/article</url-pattern>
    </servlet-mapping>
    <!-- END CLIENT SERVLET-->


    <!-- ASSETS -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/assets/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>MyObjectifyFilter</filter-name>
        <filter-class>com.quanganh9x.lettuce.filter.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MyObjectifyFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/CabbageNews.json</param-value>
    </context-param>
    <listener>
        <listener-class>com.quanganh9x.lettuce.listener.ObjectifyListener</listener-class>
    </listener>
</web-app>