<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <!-- START API SERVLET-->
    <servlet>
        <servlet-name>ArticleAPI</servlet-name>
        <servlet-class>com.cabbage.api.ArticleAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ArticleAPI</servlet-name>
        <url-pattern>/api/v1/article</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckDuplicateArticleAPI</servlet-name>
        <servlet-class>com.cabbage.api.CheckDuplicateArticleAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckDuplicateArticleAPI</servlet-name>
        <url-pattern>/api/v1/article/check-duplicate</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CrawlerSourceAPI</servlet-name>
        <servlet-class>com.cabbage.api.SourceAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrawlerSourceAPI</servlet-name>
        <url-pattern>/api/v1/crawlersource</url-pattern>
    </servlet-mapping>
    <!-- END API SERVLET-->

    <!-- START ADMIN SERVLET-->

    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>com.cabbage.servlet.admin.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/admin/home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddCategoryServlet</servlet-name>
        <servlet-class>com.cabbage.servlet.admin.AddCategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCategoryServlet</servlet-name>
        <url-pattern>/admin/category/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddArticleServlet</servlet-name>
        <servlet-class>com.cabbage.servlet.admin.AddArticleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddArticleServlet</servlet-name>
        <url-pattern>/admin/article/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddCrawlerSourceServlet</servlet-name>
        <servlet-class>com.cabbage.servlet.admin.AddCrawlerSourceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCrawlerSourceServlet</servlet-name>
        <url-pattern>/admin/crawler-source/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PreviewSpecialServlet</servlet-name>
        <servlet-class>com.cabbage.servlet.admin.PreviewSpecialServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PreviewSpecialServlet</servlet-name>
        <url-pattern>/admin/crawler-source/special-content</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SaveSpecialContentServlet</servlet-name>
        <servlet-class>com.cabbage.servlet.admin.SaveSpecialContentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveSpecialContentServlet</servlet-name>
        <url-pattern>/admin/crawler-source/save-special-content</url-pattern>
    </servlet-mapping>
    <!-- END ADMIN SERVLET-->

    <!-- START CLIENT SERVLET-->
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.cabbage.servlet.client.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <!-- END CLIENT SERVLET-->

    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>MyObjectifyFilter</filter-name>
        <filter-class>com.cabbage.filter.MyObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MyObjectifyFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
</web-app>