<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <servlet>
        <servlet-name>ArticleAPI</servlet-name>
        <servlet-class>com.cabbage.api.ArticleAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ArticleAPI</servlet-name>
        <url-pattern>/api/v1/article</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CrawlerSourceAPI</servlet-name>
        <servlet-class>com.cabbage.api.SourceAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrawlerSourceAPI</servlet-name>
        <url-pattern>/api/v1/crawlersource</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>MyObjectifyFilter</filter-name>
        <filter-class>com.cabbage.filter.MyObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MyObjectifyFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
</web-app>